asgiref==3.5.2
Django==4.0.5
gunicorn==20.1.0
mysql==0.0.3
mysql-connector-python==8.0.29
mysqlclient==2.1.1
Pillow==9.1.1
protobuf==4.21.1
PyMySQL==1.0.2
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.10.1
PyQt5Designer==5.14.1
sqlparse==0.4.2
tzdata==2022.1
whitenoise==6.2.0
